@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
        /* #ffffff */
        --background: 0 0% 100%;
        /* #0a0a0a */
        --foreground: 0 0% 3.9%;

        /* #ffffff */
        /* --card: var(--background); */
        /* #f5f5f5 */
        --card: 0 0% 96.1%;
        /* #0a0a0a */
        --card-foreground: var(--foreground);

        /* #ffffff */
        --popover: var(--background);
        /* #0a0a0a */
        --popover-foreground: var(--foreground);

        /* #171717 */
        /* --primary: 0 0% 9%; */
        /* #ec4899 */
        --primary: 330 81% 60%;
        /* #fafafa */
        --primary-foreground: 0 0% 98%;

        /* #f5f5f5 */
        --secondary: 0 0% 96.1%;
        /* #171717 */
        --secondary-foreground: 0 0% 9%;

        /* #f5f5f5 */
        --muted: 0 0% 96.1%;
        /* #737373 */
        --muted-foreground: 0 0% 45.1%;

        /* #f5f5f5 */
        --accent: 0 0% 96.1%;
        /* #171717 */
        --accent-foreground: 0 0% 9%;

        /* #ef4444 */
        --destructive: 0 84.2% 60.2%;
        /* #fafafa */
        --destructive-foreground: 0 0% 98%;

        /* #e5e5e5 */
        --border: 0 0% 89.8%;

        /* #e5e5e5 */
        --input: 0 0% 89.8%;

        /* #0a0a0a */
        --ring: 0 0% 3.9%;

        --radius: 0.5rem;
    }
    .dark {
        /* #0a0a0a */
        --background: 0 0% 3.9%;
        /* #fafafa */
        --foreground: 0 0% 98%;

        /* #0a0a0a */
        /* --card: var(--background); */
        /* #171717 */
        --card: 0 0% 9%;
        /* #fafafa */
        --card-foreground: var(--foreground);

        /* #0a0a0a */
        --popover: var(--background);
        /* #fafafa */
        --popover-foreground: var(--foreground);

        /* #fafafa */
        /* --primary: var(--foreground); */
        /* #ec4899 */
        --primary: 330 81% 60%;
        /* #171717 */
        --primary-foreground: 0 0% 9%;

        /* #262626 */
        --secondary: 0 0% 14.9%;
        /* #fafafa */
        --secondary-foreground: var(--foreground);

        /* #262626 */
        --muted: 0 0% 14.9%;
        /* #a3a3a3 */
        --muted-foreground: 0 0% 63.9%;

        /* #262626 */
        --accent: 0 0% 14.9%;
        /* #fafafa */
        --accent-foreground: var(--foreground);

        /* #7f1d1d */
        --destructive: 0 62.8% 30.6%;
        /* #fafafa */
        --destructive-foreground: var(--foreground);

        /* #262626 */
        --border: 0 0% 14.9%;

        /* #262626 */
        --input: 0 0% 14.9%;

        /* #d4d4d4 */
        --ring: 0 0% 83.1%;
    }
}
@layer base {
    * {
        @apply border-border;
    }
    html {
        @apply scroll-smooth bg-primary;
    }

    body {
        @apply bg-background text-foreground;
        /* Prevent the browser from synthesizing bold or italic fonts */
        font-synthesis-weight: none;
        /* Improve font rendering on macOS */
        text-rendering: optimizeLegibility;
    }
}
